<form #cityForm="ngForm" (ngSubmit)="onSubmit()">
  <div>
    <h4>Оберіть місто:</h4>
    <mat-form-field>
    <mat-label>Country</mat-label>
      <select matNativeControl [formControl]="cityControl" required (change)="changeCountry($event.target.value)">
        <option></option>
        <option *ngFor ="let count of countryList">{{count.name}} </option>
      </select>
      <mat-error *ngIf="cityControl.hasError('required')">Будь-ласка, оберіть місто</mat-error>
    </mat-form-field>
  </div>

  <div>
    <h4>Оберіть кінотеатр:</h4>
    <mat-form-field>
    <mat-label>City</mat-label>
      <select matNativeControl [formControl]="cinemaControl" required>
        <option></option>
        <option *ngFor ="let city of cities">{{city}}</option>
      </select>
      <mat-error *ngIf="cinemaControl.hasError('required')">Будь-ласка, оберіть кінотеатр</mat-error>
    </mat-form-field>
  </div>

  <button type="submit" class="button" [disabled]="!cityControl.valid || !cinemaControl.valid">Пошук</button>

</form>
