<form>
<h4>Оберіть місто:</h4>
  <mat-form-field>
    <mat-label>Місто</mat-label>
    <mat-select [(ngModel)]="selectedCity" name="city" [formControl]="cityControl" required>
      <mat-option>---</mat-option>
      <mat-option *ngFor="let city of cities" [value]="city.city">
        {{city.viewCity}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="cityControl.hasError('required')">Будь-ласка, оберіть місто</mat-error>
  </mat-form-field>
  <p class="text-cinema"> Обране місто: {{selectedCity}} </p>

  <h4>Оберіть кінотеатр:</h4>
  <mat-form-field>
    <mat-label>Кінотеатр</mat-label>
    <mat-select [(ngModel)]="selectedCinema" name="cinemas" [formControl]="cinemaControl" required>
      <mat-option>---</mat-option>
      <mat-option *ngFor="let city of cities" [value]="city.cinemas">
        {{city.viewCinema}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="cinemaControl.hasError('required')">Будь-ласка, оберіть кінотеатр</mat-error>
  </mat-form-field>
  <p class="text-cinema"> Обраний кінотеатр: {{selectedCinema}} </p>
  <br>
  <button type="submit" class="button" [disabled]="!cityControl.valid && !cinemaControl.valid">Пошук</button>

</form>
