.reg-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  min-height: 450px;
  width: 640px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.reg-title {
  text-transform: uppercase;
  color: #458B00;
}
.reg-input {
  width: 300px;
  margin: 0 10px;
}
.reg-input-age {
  width: 100px;
}
.reg-button:disabled {
  color: #aaa;
}
.reg-button:enabled {
  color: #fff;
  font-weight: 600;
  background-color: #458B00;
}
.reg-button {
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 600;
  color: #458B00;
  border: none;
  width: 170px;
  height: 35px;
}

.btn-link {
  font-weight: 400;
  color: #458B00;
  background-color: transparent;
  text-decoration: none;
  padding: 20px;
}
.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}
.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  width: 300px;
}
.gender-age {
  display: flex;
  justify-content: space-around;
}
