.reg-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  height: 450px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
.reg-title {
  text-transform: uppercase;
  color: #458B00;
}
.reg-input {
  height: 20px;
  padding: 5px;
  margin: 10px;
}
.reg-error {
  color: #f00;
  font-weight: 400;
}
.reg-button:disabled {
  color: #aaa;
}
.reg-button:enabled {
  color: #fff;
  font-weight: 600;
  background-color: #458B00;
}
.reg-button {
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 600;
  color: #458B00;
  border-radius: 25%;
  border: none;
  width: 150px;
  height: 35px;
}
