<div class="reg-block">
  <h2 class="reg-title">Registration form</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <label>Ім'я</label><br>
    <input class="reg-input" name="first_name" type="text" formControlName="first_name" placeholder="Ім'я" required> <!-- [(ngModel)]="user.first_name"  -->

    <label>Прізвище</label>
    <input class="reg-input" name="last_name" type="text" formControlName="last_name" placeholder="Прізвище" required> <!-- [(ngModel)]="user.last_name"  -->

    <label>Логін</label>
    <input class="reg-input" name="login" type="text" formControlName="login" placeholder="Логін" required>  <!-- [(ngModel)]="user.login"  -->
    <p *ngIf="userForm.get('login').errors?.minlength" class="reg-error">Ваш логін занадто короткий</p>

    <br>

    <label>Пароль</label>
    <input class="reg-input" name="password" type="password" formControlName="password" placeholder="Пароль" required> <!-- [(ngModel)]="user.password"  -->
    <p *ngIf="userForm.get('password').errors?.minlength" class="reg-error">Ваш пароль занадто короткий</p>
    <p *ngIf="userForm.get('password').errors?.pattern" class="reg-error">Некоректний пароль</p>
    <br><br>

    <button class="reg-button" type="submit" [disabled]="userForm.invalid" [routerLink]="['/login']">Зареєструватися</button>
  </form>

  <router-outlet></router-outlet>
</div>
