<div class="login-block">
  <h2 class="login-title">Get started!</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <label>Enter your Login</label>
    <input class="login-input" type="text" formControlName="login" required>
    <br>

    <label>Enter your Password</label>
    <input class="login-input" type="password" formControlName="password" required>
    <br>

    <button class="button" type="submit" [disabled]="userForm.invalid" routerLink="/user">Log in</button>
  </form>

  <p>If you have not already registered, please fill out the registration form.</p>
  <button class="reg-button" type="submit" routerLink="/registration">Registration</button>

  <router-outlet></router-outlet>
</div>

