<!DOCTYPE html>
<div class="login-block">
  <h2 class="login-title">Get started!</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

    <label>Enter your Login</label>
    <input class="login-input" type="text" name="login" formControlName="login">
    <p *ngIf="userForm.get('login').errors?.minlength">Your login is to short</p>
    <p *ngIf="userForm.get('login').errors?.maxlength">Your Login is to long</p>

    <label>Enter your Password</label>
    <input class="login-input" type="password" ng-model="password" formControlName="password">
    <p *ngIf="userForm.get('password').errors?.minlength">Your password is to short</p>
    <p *ngIf="userForm.get('password').errors?.maxlength">Your password is to long</p>
    <p *ngIf="userForm.get('password').errors?.pattern">Incorrect password</p>

    <button class="button" type="submit" [disabled]="userForm.invalid">Log in</button>
  </form>

  <router-outlet></router-outlet>
</div>

