.login-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #aaa;
  height: 350px;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}
.login-title {
  text-transform: uppercase;
  color: #458B00;
}
.login-input {
  height: 20px;
  padding: 5px;
  margin: 10px;
}
.login-error {
  color: #f00;
  font-weight: 400;
}
.button:disabled {
  color: #aaa;
}
.button:enabled {
  color: #fff;
  font-weight: 600;
  background-color: #458B00;
}
